$active_color: #e6fdea;
$nonactive_color: #EEEEEE;

$card_active_color: #FFFFFF;
$card_border: 1px solid #EEEEEE;

$button_red: #ffe2e2;
$button_green_hover: #c5f1cc;
$button_red_hover: #ffbfbf;

$input_border: 1px solid #bdbdbd;
$input_border_color: #bdbdbd;
$input_background_color: #ffffff;
$input_aware_border_color: #ff0000;
$input_aware_background_color: #ffe5e5;