@import 'libs/bootstrap-reboot.min';
@import '_variables';
@import '_mixins';

.container {
	width: 1240px;
	padding-top: 25px;
	margin: 0 auto;
	min-height: calc(100vh - 50px - 140px);
}

body {
	background: url('../img/start_page.jpg') no-repeat 100%/cover;
	background-attachment: fixed;
}

header {
	width: 100wh;
	height: 50px;
	background: url('../img/header.png') no-repeat center;
}

h2 {
	font-family: 'Marmelad', sans-serif;
	font-weight: 500;
	font-size: 20px;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
}

.start_screen {
	.about__wrapper {
		margin-bottom: 60px;
		h1 {
			font-family: 'Marmelad', sans-serif;
			color: rgb(4, 14, 0);
			font-size: 50px;
		}
		p {
			font-size: 20px;
		}
	}
	.birthday__wrapper {
		margin-bottom: 60px;
		.form_birthday {
			.input_birthday {
				@include inputs;
			}
		}
	}
	.button_start {
		@include btn;
		@include btn_start;
		background-color: $button_green;
		margin-top: 20px;
		transition: all 0.5s;
		&:hover {
			@include btn_start_and_add_hover;
		}
	}
	.button_start_confirmed {
		@include btn;
		@include btn_start;
		margin-top: 20px;
		transition: all 0.5s;
		background-color: $nonactive_color;
		letter-spacing: 0.015em;
	}
}

.events {
	.cards__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 400px);
		gap: 20px;
		grid-auto-rows: 200px;
		.card {
			@include card;
			background: $card_active_color;
			border: $card_border;
			.form__wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				.form_title {
					.input_title {
						width: 360px;
						margin-top: 20px;
						@include inputs;
					}
				}
				.color_and_month_wrapper {
					display: flex;
					justify-content: center;
					align-items: space-around;
					.form_color {
						.input_color {
							width: 33px;
							height: 35px;
							margin: 20px 15px 30px 15px;
							border-width: 0;
							border-radius: 6px;
							background-color: $input_background_color;
							border-color: $input_border_color;
							cursor: pointer;
							&:focus {
								outline: none;
							}
						}
					}
					.form_month{	
						.input_month {
							width: 156px;
							margin: 20px 15px 30px 15px;
							@include inputs;
						}
					}
				}
			}
			.button_save-delete__wrapper {
				display: flex;
				justify-content: center;
				align-items: space-around;
				.button_delete_card {
					@include btn;
					@include btns_on_card;
					background-color: $button_red;
					&:hover {
						background-color: $button_red_hover;
					}
				}
				.button_save_card {
					@include btn;
					@include btns_on_card;
					background-color: $button_green;
					&:hover {
						background-color: $button_green_hover;
					}
				}
			}
		}
		.card_confirmed {
			background: $nonactive_color;
		}
		.button_add_new_card {
			@include btn;
			@include card;
			background: $button_green;
			transition: 1s all;
			&:hover {
				@include btn_start_and_add_hover;
			}
		}
	}
}

.result {
	display: block;
	margin: 0 auto;
	padding: 0;
	margin-top: 40px;
	width: 1100px;
	.result__wrapper {
		background: #ffffff;
		padding: 20px;
		border: $input_border;
		margin-bottom: 50px;
		display: flex;
		align-items: end;
		justify-content: space-around;
		.calendar {
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: 17px repeat(11, 20px) 25px repeat(12, 20px);
			row-gap: 5px;
			width: 500px;
			div {
				@include cells;
				background: $nonactive_color;
			}
			.past {
				@include cells;
				background: $card_active_color;
			}
			.age {
				width: 15px;
				height: 15px;
				margin: 0;
				padding: 0;
				font-size: 10px;
				text-align: center;
			}
			.months_names {
				width: 15px;
				height: 40px;
				margin: 0;
				padding: 0;
				font-size: 10px;
				text-align: center;
				text-orientation: upright;
				writing-mode: vertical-lr; 
			}
		}
		.designation__wrapper {
			padding: 10px;
			display: block;
			width: 485px;
			height: 755px;
			border: 0.3px solid #000000;
			.designation {
				margin: 0 0 5px 0;
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				.designation_color {
					margin: 0 10px 0 0;
					@include cells;
				}
				.designation_description {
					margin: 0;
					font-size: 10px;
				}
			}
		}
	}
}

footer {
	padding-top: 60px;
	height: 140px;
	width: 100wh;
	background: url('../img/footer.png') no-repeat center;
	.footer__wrapper {
		width: calc(100% - 25px);
		margin-left: 25px;
		display: flex;
		justify-content: center;
		align-items: center;
		a {
			padding-bottom: 5px;
			margin: 0 15px;
			&:hover {
				svg {
					path {
						transition: 1s all;
						fill: rgb(0, 0, 0);
					}
				}
			}
		}
		span {
			margin: 0;
			color: rgb(53, 53, 53);
		}
	}
}

.invisible {
	display: none;
}

@import '_media';